<h1>Tasks list</h1>

<style>
td
{
  border:1px solid black;
}
</style>

<table>
  <tr>
    <td>Updated</td>
    <td>id</td>
    <td>status</td>
    <td>thread id</td>
    <td>progress</td>
  </tr>
  {% for task in tasks %}
  <tr>
  <td>{{ task.updatedString }}</td>
  <td>{{ task._id }}</td>
  <td>{{ task.status }}</td>
  <td>{{ task.threadId }}</td>
  <td>{{ task.progress }} &nbsp;</td>
  </tr>
  {% endfor %}
</table>
